<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div style="width: 100%;height: 100px;background: red;"></div>
    <div>
        <button id="connect" onclick="connect();">连接</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">断开连接</button>
    </div>
    <div>
        <input type="text" id="message"/><button onclick="send();">发送</button>
        <p id="response"></p>
    </div>
    <script type="text/javascript" th:src="@{/js/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
    <script type="text/javascript">
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
        }

        function connect() {
            var socket = new SockJS('/endpointBroadcast');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected:'+frame);
                stompClient.subscribe('/topic/getResponse', function (response) {
                    showResponse(JSON.parse(response.body).message);
                });

            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected")
        }

        function showResponse(message) {
            var response = $('#response');
            response.html(message);
        }

        function send() {
            var message = $('#message').val();
            stompClient.send("/welcome", {}, JSON.stringify({'message':message}));
        }

    </script>
</body>
</html>