<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <textarea id="message" rows="4" cols="60"></textarea>
    <button id="send">发送</button>
    <div id="output"></div>
    <script type="text/javascript" th:src="@{/js/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
    <script type="text/javascript">
        var socket = new SockJS("/endpointChat");
        var stomp = Stomp.over(socket);
        stomp.connect('quest', 'quest', function (frame) {
            stomp.subscribe("/user/queue/notifications", handleNotification);
        });

        function handleNotification(message) {
            $("#output").append("<b>Received："+message.body+"</b><br/>");
        }

        $("#send").click(function () {
            sendSpittle($("#message").val());
        });

        function sendSpittle(message) {
            stomp.send("/chat", {}, JSON.stringify({'message':message}));
        }

    </script>
</body>
</html>